<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
<a class="navbar-brand font-weight-bolder mr-3" href="{{ site.baseurl | prepend: site.url }}"><img src="{{site.baseurl | prepend: site.url}}/assets/img/2HAAS_LOGO.svg" width="50" height="50" alt="{{ site.name }}"></a>
<button class="navbar-light navbar-toggler" style="border:0;" type="button" data-toggle="collapse" data-target="#2haasNavigation" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
<svg class="bi" fill="#000" width="40" height="40" aria-hidden="true"><use xlink:href="#three-dots"></use></svg>
<!--<span class="navbar-toggler-icon"></span>-->
</button>
<div class="collapse navbar-collapse" id="2haasNavigation">
	<ul class="navbar-nav mr-auto align-items-center">
    	<div class="gcse-search"></div> 
	</ul>
	<ul class="navbar-nav ml-auto align-items-center">
		<li class="nav-item">
		<a class="nav-link" href="{{ site.baseurl | prepend: site.url }}">Home</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{{ site.baseurl | prepend: site.url }}/categories/">Categories</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{{ site.baseurl | prepend: site.url }}/contact/">Contact</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{{ site.baseurl | prepend: site.url }}/staff/">Members</a>
		</li>
	</ul>
</div>
</nav>
