@media screen and (max-width: 768px) {
  body {padding-top: 76px;}
}
@media screen and (min-width: 768px) {
  body {padding-top: 90px;}
}
img {
    max-width: 100%;
}
a, .a:hover {
    transition: all 0.2s;
}

#loading {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 1;
  background-color: #fff;
  z-index: 9999;
  text-align: center;
}

#loading-image {
  z-index: 100;
}

.container-fluid {
    width: 94%;
    margin: 0px auto;
    max-width: 94%;
}
.border-round-0 {
    border-radius:0;
}
.mt-neg100 {
    margin-top:-100px;
}
.min-50vh {
    min-height:50vh;
}

@media screen and (max-width: 567px) {
  .banner {
    min-height: 17vh;
  }
}
@media screen and (min-width: 568px) and (max-width: 768px) {
  .banner {
    min-height: 25vh;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .banner {
    min-height: 35vh;
  }
}
@media screen and (min-width: 993px) {
  .banner {
    min-height: 50vh;
  }
}

.dropdown-header {
    font-size:1.5rem;
}
.fixed-top {
    border-bottom:1px solid #f1f1f1;
}
footer.footer {
        border-top: 1px solid #f1f1f1;
}
.nav-link, .dropdown-item {font-weight:700;}
.navbar { padding: 0.5rem 2rem;}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #008CBA;
}

.card {border:0; margin-bottom: 2px;}
.card-pin:hover .overlay {
  opacity: .5;
  border: 5px solid #f3f3f3;
  transition: ease .2s;
  background-color: #000000;  
  cursor: zoom-in;
}

.more {
  color: white;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.card-pin:hover .card-title {
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
}

.card-pin:hover .more a {
  text-decoration: none;
  color: #ffffff;
}

.card-pin:hover .download a {
  text-decoration: none;
  color: #ffffff;
}

.social {
	position: relative;
	transform: translateY(-50%);
}

.social .fa {
  margin: 0 3px;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

section#contact {
  background-color: $gray-900;
  background-image: url($url+"/assets/img/contact.png");
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
  }
}

.paginate-align-middle{
  width: 100%;
  display: flex;
  justify-content: center;
}

iframe{
  width: 100%;
}
